.submitButton {
	display: block;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	border-radius: 15px;
	border-width: 1px;
	border-color: #969696;
	color: #474747;
	text-align: center;
	cursor: pointer;
	margin: 10px auto;
	font-size: 16px;
	background-color: #cccccc;

	&:disabled {
		cursor: not-allowed;
		color: #c7c7c7;
		border-color: #c7c7c7;
		background-color: #ededed;
	}
}
